<div>
    <mat-form-field>
        <mat-label>ID:</mat-label>
        <input matInput type="text" disabled="true">
    </mat-form-field>
    <br> <br>

    <mat-form-field>
        <mat-label>Title:</mat-label>
        <input matInput type="text" [(ngModel)]="newContent.title">
    </mat-form-field>
    <br> <br>

    <mat-form-field>
        <mat-label>Description:</mat-label>
        <input matInput type="text" [(ngModel)]="newContent.description"> 
    </mat-form-field>
    <br> <br>

    <mat-form-field>
        <mat-label>Creator</mat-label>
        <input matInput type="text" [(ngModel)]="newContent.creator">
    </mat-form-field>
    <br> <br>

    <mat-form-field>
        <mat-label>Image Link:</mat-label>
        <input matInput type="text" [(ngModel)]="newContent.imgURL">
    </mat-form-field>
    <br> <br>

    <mat-form-field>
        <mat-label>Type: </mat-label>
        <input matInput type="text" [(ngModel)]="newContent.type">
    </mat-form-field>
    <br> <br>
    
    <div>
        <button mat-raised-button color="accent" mat-dialog-close>Cancel</button>
        <button mat-raised-button color="primary" (click)="addContent()">Add Content</button>
    </div>
</div>
