<button mat-raised-button color="primary" routerLink="/list"> Back to List</button>
<mat-card>
    <mat-card-header>
        <h1 mat-card-title>{{ content.title }}</h1>
        
        <mat-card-subtitle>
            <div *ngIf="content.imgURL; else defaultImage">
                <img [src]="content.imgURL" [alt]="content.title" (click)="loggingIDnTitle(content)">
            </div>
            <ng-template #defaultImage>
                <img [src]="defaultSongImage" [alt]="content.title" (click)="loggingIDnTitle(content)">
            </ng-template>
        </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
        <p>{{content.description}}</p>
        <p>Creater: {{ content.creator}}</p>
        <p *ngIf="content.type" appHoverAffect="underline"  >Type: {{ content.type}}</p>

        <div *ngIf="content.tags"><strong>Tags:</strong> 
            <span *ngFor="let tag of content.tags" appHoverAffect="bold">
                {{tag}},
            </span>
        </div>
    </mat-card-content>
</mat-card>
