<br><hr>
<app-modify-content-component (onCreation)="addContent($event)"></app-modify-content-component>
<hr><br>

<div class="searchArea">
    <div class="input">
        <mat-form-field>
            <mat-label>Search Title...</mat-label>
            <input matInput type="text" [(ngModel)]="title">
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="searchForTitle()">Search</button>
    </div>

    <div class="output" *ngIf="isTitleExists !== null">
        <p [style.color]="isTitleExists ? 'green' : 'red'">
            {{isTitleExists ? 'Title exist' : 'No title exists'}}
        </p>
    </div>
</div>

<div>
    <h1>Alternative R&B Type</h1>
    <div *ngFor="let content of contents | typeFilter:'Alternative R&B'" class="content-card Alternative">
        <h1>{{ content.title }}</h1>

        <div *ngIf="content.imgURL; else defaultImage">
            <img [src]="content.imgURL" [alt]="content.title" (click)="loggingIDnTitle(content)">
        </div>
        <ng-template #defaultImage>
            <img [src]="defaultSongImage" [alt]="content.title" (click)="loggingIDnTitle(content)">
        </ng-template>

        <p>{{content.description}}</p>
        <p>Creater: {{ content.creator}}</p>
        <p *ngIf="content.type" appHoverAffect="underline"  >Type: {{ content.type}}</p>

        <div *ngIf="content.tags"><strong>Tags:</strong> 
            <span *ngFor="let tag of content.tags" appHoverAffect="bold">
                {{tag}},
            </span>
        </div>
    </div>
</div>


<div>
    <h1>Pop Type</h1>
    <div *ngFor="let content of contents | typeFilter:'Pop'" class="content-card Pop">
        <h1>{{ content.title }}</h1>

        <div *ngIf="content.imgURL; else defaultImage">
            <img [src]="content.imgURL" [alt]="content.title" (click)="loggingIDnTitle(content)">
        </div>
        <ng-template #defaultImage>
            <img [src]="defaultSongImage" [alt]="content.title" (click)="loggingIDnTitle(content)">
        </ng-template>

        <p>{{content.description}}</p>
        <p>Creater: {{ content.creator}}</p>
        <p *ngIf="content.type" appHoverAffect="underline" >Type: {{ content.type}}</p>
        <div *ngIf="content.tags"><strong>Tags:</strong> 
            <span *ngFor="let tag of content.tags" appHoverAffect="bold">
                {{tag}},
            </span>
        </div>
    </div>
</div>


<div>
    <h1>Hip-Hop Type</h1>
    <div *ngFor="let content of contents | typeFilter:'Hip-Hop'" class="content-card Hip-Hop">
        <h1>{{ content.title }}</h1>
        
        <div *ngIf="content.imgURL; else defaultImage">
            <img [src]="content.imgURL" [alt]="content.title" (click)="loggingIDnTitle(content)">
        </div>
        <ng-template #defaultImage>
            <img [src]="defaultSongImage" [alt]="content.title" (click)="loggingIDnTitle(content)">
        </ng-template>

        <p>{{content.description}}</p>
        <p>Creater: {{ content.creator}}</p>
        <p *ngIf="content.type" appHoverAffect="underline" >Type: {{ content.type}}</p>
        <div *ngIf="content.tags"><strong>Tags:</strong> 
            <span *ngFor="let tag of content.tags" appHoverAffect="bold">
                {{tag}},
            </span>
        </div>
    </div>
</div>


<div>
    <h1>Without Type</h1>
    <div *ngFor="let content of contents | typeFilter" class="content-card noType">
        <h1>{{ content.title }}</h1>
        
        <div *ngIf="content.imgURL; else defaultImage">
            <img [src]="content.imgURL" [alt]="content.title" (click)="loggingIDnTitle(content)">
        </div>
        <ng-template #defaultImage>
            <img [src]="defaultSongImage" [alt]="content.title" (click)="loggingIDnTitle(content)">
        </ng-template>

        <p>{{content.description}}</p>
        <p>Creater: {{ content.creator}}</p>
        <p *ngIf="content.type" appHoverAffect="underline" >Type: {{ content.type}}</p>
        <div *ngIf="content.tags"><strong>Tags:</strong> 
            <span *ngFor="let tag of content.tags" appHoverAffect="bold">
                {{tag}},
            </span>
        </div>
    </div>
</div>