.content-card{
    border: 1px solid black;
    padding: 12px;
    margin: 12px 0px;
    
    &:first-child{
        border: 2px solid black;
    }

    img{
        width: 500px;
    }
}

.content-card.noType{
    color:darkred;
    background-color:cornsilk;
}

.content-card.Hip-Hop{
    color:black ;
    background-color:bisque ;
}

.content-card.Pop{
    color:brown;
    background-color:burlywood;
}

.content-card.Alternative{
    color:black;
    background-color:khaki;
}